.container{
    width: 100%;
    max-width: 1200px;
    padding-inline: 1rem;
    margin-inline: auto;
    
}
.title{
    font-size: 22px;
    text-align: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}
.texte{
    font-size: 18px;
    font-family: 'Cinzel', serif;
    text-align: justify;
    line-height: 1.5;
}
.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #fff1a4;
    margin-bottom: 2rem;
    
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maillage{
    font-size: 18px;
    font-family: 'Cinzel', serif;
    padding: 0;
}
.descriptionimage{
    font-size: 10px;
    color: black ;
    opacity: 0.8;
    text-align: right;
}
.paddingtop{
    padding-top: 4rem;
}
.padding{
    padding: 2rem;

}
.ligne{
    border-top: 1px solid #000;
    
}
img{
    width: 100%;
}
a{
    text-decoration: none;  
    padding-inline: 2rem;
    font-size: 2rem;
    color: black;
    font-family: 'Cinzel', serif;
}
a:hover{
    color: #163D1D;
    font-weight: bold;
}
footer{
    background-color: #fff1a4;
    height: 8rem;
    padding: 2rem;
}
/* #72A7D5 */